div.woo_minecraft{

	input{

		&.delete{
			color: #FFF;
			border-color: #C30;
			background: #C00;
			-webkit-box-shadow: inset 0 1px 0 #C30, 0 1px 0 rgba(0, 0, 0, .08);
			box-shadow: inset 0 1px 0 #C30, 0 1px 0 rgba(0, 0, 0, .08);
			vertical-align: top;
			text-shadow: none;
		}
	}

}