table.woominecraft.commands{

	margin: 0 9px;

	th{
		text-align: left;
	}

	.widefat{
		width: 100% !important;
	}
}

.wp-list-table{
	#wmc-delivered {
		width: 78px;
	}

	td.wmc-delivered{
		text-align: center;
	}
}