table.woominecraft.commands{

	margin: 0 9px;

	width: 100%;

	th{
		text-align: left;

		&.buttons{
			width: 100px;
			padding: 0;
		}
	}

	.widefat{
		width: 100% !important;
	}

	td select{
		margin: 0;
		display: block;
		font-size: 14px;
		padding: 4px;
		color: #555;
		line-height: 2;
	}

	.wmc_delete_server{
		line-height: 2;
		font-size: 1.1em;
		padding: 4px;
	}
}

.wp-list-table{
	#wmc-delivered {
		width: 78px;
	}

	td.wmc-delivered{
		text-align: center;
	}
}